<% include partials/header %>

<div class="container mt-5">
  <div class="row">
    <h1 style="text-align: center;">actualizar Cliente</h1>
    <hr></hr>
    <div class="col-md-5 offset-md-3 ">
      <div class="card-body">
  
        <form action="/update/<%= data.idCliente %>" method="POST">
          <div style="margin-left: 12%;" class="form-group">
            <input title="Ingrese Nombre, solo letras" type="text" id="Validate" name="Nombre" value="<%= data.Nombre%>" placeholder="Nombre de Nombre" class="form-control" autofocus  required="required" onkeypress="return isNumberKey(event)"  maxlength="20" autofocus required pattern="[A-Za-z]+" title="Solo letras">
          </div>
          <div style="margin-left: 12%;" class="form-group">
            <input title="Ingrese Apellido, solo letras" type="text" id="Validate" name="Apellido" value="<%= data.Apellido%>" placeholder="Apellido" class="form-control" required="required" onkeypress="return isNumberKey(event)"  maxlength="20" >
          </div>
          <div style="margin-left: 12%;" class="form-group">
            <input  title="Ingrese Numero Telefono"  type="number" name="Telefono" value="<%= data.Telefono%>" placeholder="Telefono" class="form-control" required="required" onkeypress="return isNumberKey(event)"  maxlength="11">
          </div>
          <div style="margin-left: 12%;" class="form-group">
            <input title="Ingrese Correo" type="text" name="Correo" value="<%= data.Correo%>" placeholder="Correo" class="form-control"  required="required" onkeypress="return isNumberKey(event)"  maxlength="30">
          </div>
          <div style="margin-left: 12%;" class="form-group">
            <input title="Ingrese Direccion" type="text" name="Direccion" value="<%= data.Direccion%>" placeholder="Direccion" class="form-control"  required="required" onkeypress="return isNumberKey(event)"  maxlength="50">
          </div>
          <div style="margin-left: 12%;"  class="form-group">
            <select name="municipio" class="form-control" id="municipio" required="required">
              <option selected disabled>Municipio</option>
              <% for (var i = 0; i < municipio.length; i++) { -%>
                <option value="<%= municipio[i].idMunicipio %>">
                  <%= municipio[i].NombreMunicipio %>
                </option>
              <% } -%>
            </select>
          </div>
          <div  style="margin-left: 12%;"  class="form-group">
            <select name="estado" class="form-control" id="estado" required>
              <% if (data.estado == 1) { %>
                <option name="estado" value="1" selected>activo</option>
                <option name="estado" value="0">Inactivo</option>
              <%} else{ %>
                <option name="estado" value="1">activo</option>    
              <option name="estado" value="0" selected>Inactivo</option> 
              <% } %> 
            </select>
          </div>
          
          <button style="background-color: green; margin-left: 12%;" type="submit" class="btn btn-primary">
            Actualizar Cliente
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script language="JavaScript" type="text/javascript">
  $("input#Validate").bind('keypress', function(event) {
  var regex = new RegExp("^[a-zA-Z ]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
    event.preventDefault();
    return false;
  }
});

//numeros validacion
$("input.dni").bind('keypress', function(event) {
  var regex = new RegExp("^[0-9]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
    event.preventDefault();
    return false;
  }
});

//alphanumericos
$("input#alphan").bind('keypress', function(event) {
  var regex = new RegExp("^[a-zA-Z0-9 ]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
    event.preventDefault();
    return false;
 }
});
</script>